img
{
	float:left;
	width:19.2%;
	margin-right: 12px;
}
img.picture1
{
	margin-left: 11px;
}
@media screen and (max-width: 960px){
	img{
		width: 18%;
		margin-bottom: 0.5%;
	}
}
@media screen and (max-width: 760px){
	img{
		width: 29%;
	}
}
@media screen and (max-width: 560px){
	img{
		width: 17%;
	}
}
@media screen and (max-width: 460px){
	img{
		width: 99%;
	}
}