img
{
	float:left;
	margin-right: 200px;
}
h1.San
{
	color:yellow;
	text-shadow: 1px 4px;
	font-family: 
}
h2.bri
{
	color:#2ecc71;
}
h2.year
{
	font-size: 30px;
	padding-top: 150px;
}
p.lastrow
{
	text-align: right;
}
a.green
{
	color:#2ecc71;;
}
p.go
{
	margin-left: 35px;
}
